/*!
Theme: STARTSITE Black
Author: Andrey Galkin
Version: 1.0
*/

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ ANIMATIONS
+ BASE STYLES

+ CONTENT
  + HEADER
  + MENU
  + FOOTER
  + MAIN CONTENT

+ MEDIA

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@import url('../fonts/pppangramsans/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('../fonts/boxicons/boxicons.min.css');

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --color-black: #120E1E;
    --color-blue: #46A6F7;
    --color-deep-blue: #259EF1;
    --color-grey: #838189;
    --color-white: #fff;
    --ff-main: 'PP Pangram Sans', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --bs-body-font-family: var(--ff-main);
    --bs-body-font-size: 1.125rem;
    --bs-body-font-weight: var(--fw-medium);
    --bs-body-line-height: 1.5;
    --bs-body-color: var(--color-black);
    --bs-body-bg: #fff;
    --bs-border-color: #dee2e6;
    --bs-link-color: var(--color-black);
    --bs-link-hover-color: var(--color-blue);
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
}

/* body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
} */

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ff-main);
    font-weight: var(--fw-medium);
    line-height: 1.35;
}

h1,
.h1 {
    font-size: 2.125rem;
}

h2,
.h2 {
    font-size: 2.125rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1.125rem;
}

@media (min-width: 992px) {

    h1,
    .h1 {
        font-size: 3rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.25rem;
    }

    h4,
    .h4 {
        font-size: 1.25rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
    }
}

/*//////////////////////////////////////////////////////////////////
[ LINKS ]*/

a.link-blue {
    --bs-link-color: var(--color-blue);
    --bs-link-hover-color: var(--color-black);
}

.dark-mode a.link-blue {
    --bs-link-color: var(--color-blue);
    --bs-link-hover-color: var(--color-white);
}

a.link-white {
    --bs-link-color: var(--color-white);
    --bs-link-hover-color: var(--color-blue);
}

a.link-grey {
    --bs-link-color: var(--color-grey);
    --bs-link-hover-color: var(--color-blue);
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb a {
    text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.25rem;
}

.form-check-input[type=checkbox],
.form-check-input:checked {
    border-radius: 0;
}

.form-check-input:focus {
    box-shadow: none;
}

.dark-mode .form-control,
.dark-mode .form-select {
    color: #fff;
    border-color: #353840;
    background-color: #201d27;
}

.dark-mode .form-control:focus,
.dark-mode .form-select:focus {
    color: #fff;
    border-color: #4f545f;
    background-color: #201d27;
}

.dark-mode .form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 16px 10px;
}

.dark-mode .form-check-input {
    border: 1px solid #545965;
    background-image: linear-gradient(160deg, #838189 -100%, #14101D 100%);
}

.dark-mode .form-check-input:checked {
    background-color: #201d27;
    border-color: #353840;
}

.dark-mode .form-check-input:checked[type=checkbox] {
    background-image: url(../img/checked.svg);
}

.dark-mode .form-check-input:focus {
    border-color: #4f545f;
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-family: var(--ff-secondary);
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: var(--fw-regular);
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.5;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --btn-shadow-pulse-color: #117DFF;
    background-image: linear-gradient(180deg, #117DFF, #3BC3E1, #3BC3E1, #117DFF);
    background-size: 100% 300%;
    background-position: 0 0;
}

.btn-secondary {
    --bs-btn-color: var(--color-blue);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: var(--color-white);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-blue);
    --bs-btn-hover-border-color: var(--color-blue);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-blue);
    --bs-btn-active-border-color: var(--color-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
}

.btn-outline {
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-blue);
    --bs-btn-hover-border-color: var(--color-blue);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-blue);
    --bs-btn-active-border-color: var(--color-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-black);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-black);
}

.btn-black {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #585464;
    --bs-btn-hover-color: #46A6F7;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #46A6F7;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: #46A6F7;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #46A6F7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #46A6F7;
    --btn-shadow-pulse-color: #117DFF;
    background-image: linear-gradient(94.94deg, rgba(68, 64, 80, 0.71) -15.12%, rgba(18, 14, 30, 0.71) 135.14%);;
    background-size: 100% 100%;
    background-position: 0 0;
}

.btn-black-02 {
    --bs-btn-color: #46A6F7;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #585464;
    --bs-btn-hover-color: #46A6F7;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #46A6F7;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: #46A6F7;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #46A6F7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #46A6F7;
    --btn-shadow-pulse-color: #117DFF;
    background-image: linear-gradient(94.94deg, rgba(68, 64, 80, 0.71) -15.12%, rgba(18, 14, 30, 0.71) 135.14%);
    background-size: 100% 100%;
    background-position: 0 0;
}

.btn-icon {
    --btn-icon-size: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
}

.btn-lg,
.btn-group-lg>.btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
}

.btn-sm,
.btn-group-sm>.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}

.btn-sale-1 {
    --bs-btn-padding-x: 2rem;
    --bs-btn-border-width: 0;
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --btn-shadow-pulse-color: #CB34FF;
    background-image: linear-gradient(180deg, #CB34FF, #DB3AC3, #DB3AC3, #CB34FF);
    background-size: 100% 200%;
    background-position: 0 0;
}

.btn-sale-2 {
    --bs-btn-padding-x: 2rem;
    --bs-btn-border-width: 0;
    --bs-btn-color: #6934FF;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #6934FF;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6934FF;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --btn-shadow-pulse-color: #93FF60;
    background-image: linear-gradient(180deg, #60FFA0, #93FF60, #93FF60, #60FFA0);
    background-size: 100% 200%;
    background-position: 0 0;
}

.btn-gradient {
    transition: background-position 0.3s ease-in-out;
}

.btn-gradient:hover {
    background-position: 0 100%;
}

.btn-shadow-pulse {
    -webkit-animation: shadow-pulse 3s infinite;
    animation: shadow-pulse 3s infinite;
}

.btn-shadow-pulse:hover {
    box-shadow: none !important;
}

@-webkit-keyframes shadow-pulse {
    0% {
        box-shadow: 0px 4px 21px var(--btn-shadow-pulse-color);
    }

    50% {
        box-shadow: 0px 1px 5px var(--btn-shadow-pulse-color);
    }

    100% {
        box-shadow: 0px 4px 21px var(--btn-shadow-pulse-color);
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0px 4px 21px var(--btn-shadow-pulse-color);
    }

    50% {
        box-shadow: 0px 1px 5px var(--btn-shadow-pulse-color);
    }

    100% {
        box-shadow: 0px 4px 21px var(--btn-shadow-pulse-color);
    }
}

/*//////////////////////////////////////////////////////////////////
[ ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.hover-rotate:hover {
    transform: rotate(-15deg);
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ff-main {
    font-family: var(--ff-main);
}

.ff-title {
    font-family: var(--ff-title);
}

.fw-light,
.fw-300 {
    font-weight: 300;
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-medium,
.fw-500 {
    font-weight: 500;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fw-bold,
.fw-700 {
    font-weight: 700;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-34 {
    font-size: 34px;
}

@media (min-width: 992px) {

    .fs-lg-12 {
        font-size: 12px;
    }

    .fs-lg-13 {
        font-size: 13px;
    }

    .fs-lg-16 {
        font-size: 16px;
    }

    .fs-lg-18 {
        font-size: 18px;
    }

    .fs-lg-20 {
        font-size: 20px;
    }

    .fs-lg-24 {
        font-size: 24px;
    }

    .fs-lg-28 {
        font-size: 28px;
    }

    .fs-lg-32 {
        font-size: 32px;
    }

    .fs-lg-34 {
        font-size: 34px;
    }

    .fs-lg-38 {
        font-size: 38px;
    }

    .fs-lg-42 {
        font-size: 42px;
    }

    .fs-lg-48 {
        font-size: 48px;
    }

    .fs-lg-52 {
        font-size: 52px;
    }
}

.lh-4 {
    line-height: 1.5;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-top-auto {
    background-position: 50% 0;
    background-size: auto;
}

.color-black {
    color: var(--color-black);
}

.color-blue {
    color: var(--color-blue);
}

.color-deep-blue {
    color: var(--color-deep-blue);
}

.color-grey {
    color: var(--color-grey);
}

.color-white {
    color: var(--color-white);
}

.color-black-hover:hover {
    color: var(--color-black);
}

.color-blue-hover:hover {
    color: var(--color-blue);
}

.color-deep-blue-hover:hover {
    color: var(--color-deep-blue);
}

.color-grey-hover:hover {
    color: var(--color-grey);
}

.color-white-hover:hover {
    color: var(--color-white);
}

.bg-color-black {
    background-color: var(--color-black);
}

.bg-color-blue {
    background-color: var(--color-blue);
}

.z-index-5 {
    z-index: 5;
}

.z-index-1030 {
    z-index: 1030;
}

.dropdown-toggle::after {
    content: '\ea4a';
    font-family: "boxicons";
    font-size: 1.15rem;
    font-weight: normal;
    vertical-align: middle !important;
    border: none !important;
    line-height: 1;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.25rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--color-black);
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: #fff;
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: #e2e5f1;
    --bs-dropdown-divider-margin-y: 0.375rem;
    --bs-dropdown-box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
    --bs-dropdown-link-color: var(--color-black);
    --bs-dropdown-link-hover-color: var(--color-blue);
    --bs-dropdown-link-hover-bg: #fff;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: var(--color-black);
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--color-black);
    --bs-nav-link-hover-color: var(--color-blue);
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: var(--color-black);
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.sticky-heading {
    z-index: 1030;
}

/*//////////////////////////////////////////////////////////////////
[ MENU ]*/

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: var(--color-black);
    --bs-navbar-hover-color: var(--color-blue);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: var(--color-blue);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: none;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-size: 1.75rem;
    --bs-nav-link-font-weight: var(--fw-medium);
}

.navbar-nav .dropdown-menu {
    border: 0;
    border-left: 1px solid #e2e5f1;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.navbar-nav .dropdown-menu.show {
    -webkit-animation: fade-in .3s ease-in-out;
    animation: fade-in .3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdown-show {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-toggler>span {
    width: 26px;
    height: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--color-black);
}

.navbar-toggler>span:nth-child(2) {
    width: 33px;
}

.logo {
    display: inline-block;
    width: 146px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* #navbarNav .offcanvas-body {
    background: 50% 100% / contain no-repeat url("../img/bg-offcanvas.png");
} */

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    padding: 6.25rem 0;
}

.footer-border {
    width: 100%;
    height: 2px;
    background: rgb(46, 173, 235);
    background: radial-gradient(circle, rgba(46, 173, 235, 1) 0%, rgba(0, 0, 0, .95) 100%);
}

.footer .nav {
    --bs-nav-link-color: var(--color-white);
    --bs-nav-link-hover-color: var(--color-blue);
}

.btn-scroll-top {
    --btn-icon-size: 3.25rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #212327;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212327;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212327;
    --bs-btn-active-border-color: transparent;
    position: fixed;
    right: 1.25rem;
    bottom: -5rem;
    opacity: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, bottom .4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity .3s;
    z-index: 999;
}

.btn-scroll-top.show {
    right: 1.25rem;
    bottom: 6.5rem;
    opacity: 1;
}

.btn-call-back {
	--btn-icon-size: 3.25rem;
    position: fixed;
    right: 1.25rem;
    bottom: 11.5rem;
    z-index: 999;
	animation: hoverWave linear 1.2s infinite;
}

.btn-call-back i {
	animation: 1500ms ease 0s normal none 1 running rotation;
	animation-iteration-count: infinite;
}

@keyframes hoverWave {
	0%{box-shadow:0 8px 10px rgba(17,125,255,0.3),0 0 0 0 rgba(17,125,255,0.2),0 0 0 0 rgba(17,125,255,0.2)}
	40%{box-shadow:0 8px 10px rgba(17,125,255,0.3),0 0 0 15px rgba(17,125,255,0.2),0 0 0 0 rgba(17,125,255,0.2)}
	80%{box-shadow:0 8px 10px rgba(17,125,255,0.3),0 0 0 30px rgba(17,125,255,0),0 0 0 26.7px rgba(17,125,255,0.067)}
	100%{box-shadow:0 8px 10px rgba(17,125,255,0.3),0 0 0 30px rgba(17,125,255,0),0 0 0 40px rgba(17,125,255,0.0)}
}

@keyframes rotation {
	0%{transform:rotate(0deg);}
	10%{transform:rotate(-30deg);}
	20%{transform:rotate(15deg);}
	30%{transform:rotate(-10deg);}
	40%{transform:rotate(7.5deg);}
	50%{transform:rotate(-6deg);}
	60%{transform:rotate(5deg);}
	70%{transform:rotate(-4.28571deg);}
	80%{transform:rotate(3.75deg);}
	90%{transform:rotate(-3.33333deg);}
	100%{transform:rotate(0deg);}
}

/*------------------------------------------------------------------
[ Modal ]*/

.modal {
    --bs-modal-padding: 0 1.5rem 2.5rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1.5rem 1.5rem 0;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0.375rem;
}

.modal.dark-mode {
	--bs-modal-color: #fff;
    --bs-modal-bg: #120E1E;
}

.btn-close:focus {
    box-shadow: none;
}

/*------------------------------------------------------------------
[ Alert ]*/

.alert-black {
    --bs-alert-bg: #212327;
    --bs-alert-margin-bottom: 0;
    --bs-alert-color: #ecf0f1;
    --bs-alert-border-color: transparent;
    --bs-alert-border-radius: 0;
}

/*------------------------------------------------------------------
[ Card ]*/

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: normal;
}

/*//////////////////////////////////////////////////////////////////
[ MAIN CONTENT ]*/

.main {
    flex: 1 1 auto;
    padding: calc(90px + 80px) 0 0;
}

.dark-mode {
    --bs-link-color: var(--color-white);
    --bs-link-hover-color: var(--color-blue);
}

.frontpage-hero {
    padding-top: 5rem;
    padding-bottom: 0;
}

.heroSwiper {
    position: relative;
}

.swiper .btn-prev,
.swiper .btn-next {
    --btn-icon-size: 2rem;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-black);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-black);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-black);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-black);
    --bs-btn-disabled-border-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: calc(0px - (var(--btn-icon-size)/2));
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out;
    z-index: 10;
}

.swiper .btn-prev {
    left: 0;
    right: auto;
}

.swiper .btn-next {
    right: 0;
    left: auto;
}

.swiper .btn-prev:disabled,
.swiper .btn-prev.disabled,
.swiper .btn-next:disabled,
.swiper .btn-next.disabled {
    opacity: 0 !important;
}

.btn-hero {
    --btn-icon-size: 10rem;
    --bs-btn-border-width: 10px;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-border-color: #fff;
}

.bg-btn-hero {
    width: 100%;
    height: 100%;
    margin-top: -5rem;
    z-index: -1;
}

.scroll-box {
    position: relative;
}

.scroll-box::-webkit-scrollbar {
    width: 2px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.25);
}

.scroll-box::-webkit-scrollbar-thumb {
    border-radius: 2px;
    outline: 2px solid var(--color-blue);
    background-clip: content-box;
    background-color: var(--color-blue);
}

.card.card-hover-dark {
    --bs-card-color: #fff;
    --bs-card-bg: rgba(131, 129, 137, 0.25);
    background-size: 100% 200%;
    background-image: linear-gradient(160deg, #838189 -100%, #14101D 100%);
    transition: background-position .3s ease-in-out;
}

.card.card-hover-dark:hover {
    background-position: 0 100%;
}

.card.card-hover-dark .h3>a {
    color: #fff;
    transition: color .3s ease-in-out;
}

.card.card-hover-dark:hover .h3>a {
    color: var(--color-blue);
}

.portfoliSwiper .swiper-slide {
    width: 500px;
}

.card.card-pricing {
    --bs-card-border-color: rgba(255, 255, 255, .1);
    --bs-card-bg: rgba(18, 14, 30, 0.8);
    backdrop-filter: blur(46px);
    -webkit-backdrop-filter: blur(46px);
}

.card.card-pricing .text-muted {
    color: #F5F6F7 !important;
}

.card.card-pricing .card-footer {
    --bs-card-border-width: 0;
}

.cta {
    background-image: linear-gradient(140deg, #46A6F7 -150%, #6D6D6D -80%, #11101D 90%);
}

.accordion {
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--color-black);
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-icon: url(../img/faq-plus.svg);
    --bs-accordion-btn-icon-width: 1.5rem;
    --bs-accordion-btn-active-icon: url(../img/faq-plus.svg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--color-black);
    --bs-accordion-active-bg: transparent;
}

.accordion .accordion-button {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.accordion .accordion-button::after {
    margin-top: 0.25rem;
    margin-right: 1rem;
    margin-left: 0;
}

.accordion.accordion-faq {
    --bs-accordion-btn-active-icon: url(../img/faq-minus.svg);
}

.accordion.accordion-faq .accordion-button::after {
    margin-top: 0.95rem;
}

.modal-mainForm {
    --bs-modal-border-radius: 0;
    --bs-modal-color: #fff;
    --bs-modal-bg: #120E1E;
}

/*//////////////////////////////////////////////////////////////////
[ img-comparison-slider ]*/

img-comparison-slider {
    visibility: hidden;
}

img-comparison-slider [slot='second'] {
    display: none;
}

img-comparison-slider.rendered {
    visibility: inherit;
}

img-comparison-slider.rendered [slot='second'] {
    display: unset;
}

img-comparison-slider {
    --divider-width: 2px;
    --divider-color: var(--color-blue);
}

.img-comparison-slider--handle {
    width: 32px;
    height: 32px;
}

.card.card-case {
    --bs-card-spacer-x: 0;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: var(--color-black);
}

.card.card-case img {
	transform: scale(1);
	transition: transform 0.3s;
}

.card.card-case:hover img {
	transform: scale(1.05);
}

.testimonialSwiper {
    --swiper-theme-color: var(--color-blue);
    --swiper-pagination-bullet-inactive-color: var(--color-blue);
    --swiper-pagination-bullet-inactive-opacity: .7;
}

.testimonialSwiper .swiper-pagination {
    left: 0;
    transform: none;
    white-space: nowrap;
}

.card.card-shop-item {
    --bs-card-spacer-y: 0.5rem;
    --bs-card-border-color: rgba(175, 175, 175, 0.25);
    padding-bottom: 1rem;
}

.card.card-shop-item .card-footer {
    --bs-card-border-width: 0;
}

.card.card-blog {
    --bs-card-border-color: rgba(175, 175, 175, 0.25);
    --bs-card-cap-padding-y: 1rem;
}

.card.card-blog .card-footer {
    --bs-card-border-width: 0;
}

.pagination {
    --bs-pagination-item-margin-x: 0.125rem;
    --bs-pagination-item-margin-y: 0;
    --bs-pagination-item-width: 2.5rem;
    --bs-pagination-item-height: 2.5rem;
    --bs-pagination-padding-x: 0;
    --bs-pagination-padding-y: 0;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: transparent;
    --bs-pagination-border-width: 0;
    --bs-pagination-border-color: transparent;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: transparent;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--color-blue);
    --bs-pagination-active-border-color: transparent;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: transparent;
}

.pagination .page-item {
    margin: var(--bs-pagination-item-margin-y) var(--bs-pagination-item-margin-x);
}

.pagination .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bs-pagination-item-width);
    height: var(--bs-pagination-item-height);
    border-radius: var(--bs-pagination-border-radius);
}

.pagination .page-item:not(:first-child) .page-link {
    margin-left: 0;
}

.top-sale-image-1 {
    margin-top: -5rem;
    margin-bottom: 0;
}

.top-sale-image-3 {
    margin-top: -5rem;
}

.top-sale-image-4 {
    margin-bottom: -3rem;
}

@media (min-width: 992px) {

    .top-sale-image-1 {
        margin-top: 0;
        margin-bottom: -5rem;
    }

    .top-sale-image-3 {
        margin-top: -5rem;
    }

    .top-sale-image-4 {
        margin-bottom: -3rem;
    }
}

@media (min-width: 1300px) {

    .top-sale-image-1 {
        margin-left: 0;
        margin-right: 5rem;
    }

    .top-sale-image-4 {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

.cta-promo {
    position: relative;
    border-radius: 40px;
    background-position: 0 50% !important;
}

.cta-promo-img {
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translateY(-40%);
    width: 250px;
}

@media (min-width: 768px) {

    .cta-promo-img {
        right: 16px;
        transform: translateY(-50%);
        width: 300px;
    }
}

@media (min-width: 992px) {
    .cta-promo {
        background-position: 50% 50% !important;
    }

    .cta-promo-img {
        right: 32px;
    }
}

@media (min-width: 1200px) {
    .cta-promo-img {
        right: 95px;
        transform: translateY(-65%);
    }
}

.responsive-top {
    top: 0;
}

.avatar-container {
    position: relative;
}

.avatar-container img {
    width: 190px;
    height: 190px;
    transition: opacity 0.3s;
    background-color: var(--bs-body-bg);
}

.avatar-container img {
    opacity: 1;
}

.avatar-container img+img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.avatar-container:hover img+img {
    opacity: 1;
}

.text-gradient-animation {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(to right, #117DFF 20%, #46A6F7 40%, #46A6F7 60%, #117DFF 80%);
    background-size: 200% auto;
    animation: text-gradient-animation 3s linear infinite;
}

@keyframes text-gradient-animation {
    to {
      background-position: 200% center;
    }
}

.opacity-wrap .opacity-item {
    opacity: 1;
    transition: all 0.3s linear;
}

.opacity-wrap:hover .opacity-item:not(:hover) {
    opacity: 0.65;
}

.img-hover-scale {
    transform: scale(1);
    transition: all 0.3s linear;
}

.img-hover-scale:hover {
    transform: scale(1.05);
}

.section-hero-02 {
	background: linear-gradient(90deg, #E8FCE5 0%, #AFF6E4 100%), linear-gradient(90deg, #FFF1E0 0%, #FFF6F1 51.04%, #FFDAF4 100%), #FFFFFF;
}

.mg-main-top2__title, .mg-main-top2__text {
	line-height: 1.25;
}

.mg-main-top2__title br, .mg-main-top2__text br {
	display: none;
}

.price-table .price-link {
	text-decoration: none;
}

.price-table .price-item {
	position: relative;
	border: 1px solid;
	border-color: #585464;
	transition: border-color 0.3s ease;
}

.price-table .price-item:hover {
	border-color: #46A6F7;
}

.price-table .price-item .price-description>* {
	color: #8D9091;
	margin-bottom: 0;
}

.price-table .price-link:nth-child(2n) .price-item {
	background-color: #1C1828;
}

.price-table .price-link:first-child .price-item {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.price-table .price-link:last-child .price-item {
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}


/*//////////////////////////////////////////////////////////////////
[ MEDIA ]*/

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .modal {
        --bs-modal-padding: 0 3.5rem 2.5rem;
    }

    .modal-md {
        --bs-modal-width: 600px;
    }

    .mg-main-top2__title br, .mg-main-top2__text br {
		display: block;
	}
}

@media (min-width: 992px) {

    .logo {
        width: 182px;
    }

    .bg-lg-center-cover {
        background-position: 50% 50%;
        background-size: cover;
    }

    .offcanvas-collapse {
        background-color: transparent;
        bottom: auto !important;
        display: block;
        height: auto !important;
        left: auto !important;
        position: static;
        right: auto !important;
        top: auto !important;
        transform: none !important;
        visibility: visible;
        width: 100% !important;
    }

    .w-lg-auto {
        width: auto !important;
    }

    #navbarNav .offcanvas-body {
        background: none;
    }

    .navbar-nav {
        --bs-nav-link-font-size: 1rem;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: var(--bs-dropdown-spacer);
        border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
        border-radius: var(--bs-dropdown-border-radius);
        background-color: var(--bs-dropdown-bg);
        box-shadow: var(--bs-dropdown-box-shadow);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        -webkit-animation: dropdown-show .3s;
        animation: dropdown-show .3s;
    }

    .btn-scroll-top {
		right: 2rem;
    }

    .btn-scroll-top.show {
        bottom: 5rem;
        right: 2rem;
    }

    .btn-call-back {
    	bottom: 10rem;
		right: 2rem;
	}

    .swiper .btn-prev,
    .swiper .btn-next {
        --btn-icon-size: 2.5rem;
        --bs-btn-font-size: 1.75rem;
        opacity: 0;
    }

    .swiper .btn-prev {
        left: -1rem;
        right: auto;
    }

    .swiper .btn-next {
        right: -1rem;
        left: auto;
    }

    .swiper:hover .btn-prev,
    .swiper:hover .btn-next {
        opacity: 1;
    }

    .swiper:hover .btn-prev {
        left: 0;
    }

    .swiper:hover .btn-next {
        right: 0;
    }

    .scroll-box {
        max-height: 405px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .img-comparison-slider--handle {
        width: 64px;
        height: 64px;
    }

    .responsive-top {
        top: 180px;
    }
}

@media (min-width: 1200px) {

    .btn-scroll-top:hover {
        border-color: var(--color-blue);
        background-color: var(--color-blue);
    }

    .swiper .btn-prev:hover,
    .swiper .btn-next:hover {
        background-color: var(--color-blue);
    }
}

@media (min-width: 1400px) {}

@media (min-width: 2560px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1920px;
    }
}