/*!
Theme: STARTSITE Black
Author: Andrey Galkin
Version: 1.0
*/

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ ANIMATIONS
+ BASE STYLES

+ CONTENT
  + HEADER
  + MENU
  + FOOTER
  + MAIN CONTENT

+ MEDIA

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

@import url('../fonts/pppangramsans/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('../fonts/boxicons/boxicons.min.css');

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
    --color-black: #120E1E;
    --color-blue: #46A6F7;
    --color-deep-blue: #259EF1;
    --color-grey: #838189;
    --color-white: #fff;
    --ff-main: 'PP Pangram Sans', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --bs-body-font-family: var(--ff-main);
    --bs-body-font-size: 1.125rem;
    --bs-body-font-weight: var(--fw-medium);
    --bs-body-line-height: 1.2;
    --bs-body-color: var(--color-black);
    --bs-body-bg: #fff;
    --bs-border-color: #dee2e6;
    --bs-link-color: var(--color-black);
    --bs-link-hover-color: var(--color-blue);
}

html {
    scroll-behavior: smooth;
}

/*------------------------------------------------------------------
[ Custom Scrollbar ]*/

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ff-main);
    font-weight: var(--fw-medium);
    line-height: 1.35;
}

h1,
.h1 {
    font-size: 2.125rem;
}

h2,
.h2 {
    font-size: 2.125rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1.125rem;
}

@media (min-width: 992px) {

    h1,
    .h1 {
        font-size: 3rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.25rem;
    }

    h4,
    .h4 {
        font-size: 1.25rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
    }
}

@media (min-width: 2560px) {

    h1,
    .h1 {
        font-size: 4rem;
    }

    h2,
    .h2 {
        font-size: 3.2rem;
    }

    h3,
    .h3 {
        font-size: 2.1rem;
    }

    h4,
    .h4 {
        font-size: 2.1rem;
    }

    h5,
    .h5 {
        font-size: 1.8rem;
    }

    h6,
    .h6 {
        font-size: 1.8rem;
    }
}

/*//////////////////////////////////////////////////////////////////
[ LINKS ]*/

a.link-blue {
    --bs-link-color: var(--color-blue);
    --bs-link-hover-color: var(--color-black);
}

.dark-mode a.link-blue {
    --bs-link-color: var(--color-blue);
    --bs-link-hover-color: var(--color-white);
}

a.link-white {
    --bs-link-color: var(--color-white);
    --bs-link-hover-color: var(--color-blue);
}

a.link-grey {
    --bs-link-color: var(--color-grey);
    --bs-link-hover-color: var(--color-blue);
}

.breadcrumb a {
    text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    font-size: 1.125rem;
    color: #fff;
    border-color: #353840;
    border-radius: 0;
    background-color: #201d27;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus,
.form-select:focus {
    color: #fff;
    border-color: #4f545f;
    background-color: #201d27;
    box-shadow: none;
}

.form-select {
    background-image: url(../img/dropdown.svg);
    background-size: 16px 10px;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.25rem;
    border: 1px solid #545965;
    background-image: linear-gradient(160deg, #838189 -100%, #14101D 100%);
}

.form-check-input[type=checkbox],
.form-check-input:checked {
    border-radius: 0;
}

.form-check-input:checked {
    background-color: #201d27;
    border-color: #353840;
}

.form-check-input:checked[type=checkbox] {
    background-image: url(../img/checked.svg);
}

.form-check-input:focus {
    border-color: #4f545f;
    box-shadow: none;
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
    --bs-btn-padding-x: 2.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-font-family: 'Open Sans', sans-serif;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-font-weight: var(--fw-bold);
    --bs-btn-line-height: 1.35;
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: var(--color-white);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
    background-image: linear-gradient(180deg, #117DFF, #3BC3E1, #3BC3E1, #117DFF);
    background-size: 100% 300%;
    transition: background-position .3s ease-in-out;
}

.btn-primary:hover {
    background-position: 0 100%;
}

.btn-secondary {
    --bs-btn-color: var(--color-blue);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-blue);
    --bs-btn-hover-border-color: var(--color-blue);
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: var(--color-white);
    --bs-btn-active-bg: var(--color-blue);
    --bs-btn-active-border-color: var(--color-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-white);
    --bs-btn-disabled-bg: var(--color-grey);
    --bs-btn-disabled-border-color: var(--color-grey);
    transition: background-color .3s ease-in-out;
}

.btn-icon {
    --si-btn-size: 3rem;
    --si-btn-icon-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--si-btn-size);
    height: var(--si-btn-size);
    padding: 0;
    font-size: var(--si-btn-icon-size);
}

.btn-prev,
.btn-next {
    --si-carousel-nav-btn-border-radius: 50%;
    --si-carousel-nav-btn-color: rgba(18, 14, 30, .95);
    --si-carousel-nav-btn-hover-color: rgba(18, 14, 30, .5);
    --si-carousel-nav-btn-bg: transparent;
    --si-carousel-nav-btn-hover-bg: transparent;
    --si-carousel-nav-btn-disabled-color: rgba(18, 14, 30, .5);
    --si-carousel-nav-btn-font-size: 3rem;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    border: 0;
    border-radius: var(--si-carousel-nav-btn-border-radius);
    background-color: var(--si-carousel-nav-btn-bg);
    color: var(--si-carousel-nav-btn-color);
    font-size: var(--si-carousel-nav-btn-font-size);
    box-shadow: none;
}

@media (min-width: 1200px) {

    .btn-prev:hover,
    .btn-next:hover {
        background-color: var(--si-carousel-nav-btn-hover-bg);
        color: var(--si-carousel-nav-btn-hover-color);
        box-shadow: none;
    }
}

.btn-sm {
    padding: 0.375rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

/*//////////////////////////////////////////////////////////////////
[ ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

.hover-rotate:hover {
    transform: rotate(-15deg);
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ff-main {
    font-family: var(--ff-main);
}

.ff-title {
    font-family: var(--ff-title);
}

.fw-light,
.fw-300 {
    font-weight: 300;
}

.fw-normal,
.fw-regular,
.fw-400 {
    font-weight: 400;
}

.fw-medium,
.fw-500 {
    font-weight: 500;
}

.fw-semibold,
.fw-600 {
    font-weight: 600;
}

.fw-bold,
.fw-700 {
    font-weight: 700;
}

.fz-12 {
    font-size: 1rem;
}

.fz-15 {
    font-size: 1.25rem;
}

.fz-17 {
    font-size: 1.5rem;
}

.fz-2 {
    font-size: 1.75rem;
}

@media (min-width: 992px) {

    .fz-12 {
        font-size: 1.25rem;
    }
    .fz-15 {
        font-size: 1.5rem;
    }
    .fz-17 {
        font-size: 1.75rem;
    }
    .fz-2 {
        font-size: 2rem;
    }
}

@media (min-width: 2560px) {

    .fz-12 {
        font-size: 2.5rem;
    }
    .fz-15 {
        font-size: 3.5rem;
    }
    .fz-17 {
        font-size: 3.75rem;
    }
    .fz-2 {
        font-size: 4rem;
    }
}

.lh-4 {
    line-height: 1.5;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-black {
    color: var(--color-black);
}

.color-blue {
    color: var(--color-blue);
}

.color-deep-blue {
    color: var(--color-deep-blue);
}

.color-grey {
    color: var(--color-grey);
}

.color-white {
    color: var(--color-white);
}

.color-black-hover:hover {
    color: var(--color-black);
}

.color-blue-hover:hover {
    color: var(--color-blue);
}

.color-deep-blue-hover:hover {
    color: var(--color-deep-blue);
}

.color-grey-hover:hover {
    color: var(--color-grey);
}

.color-white-hover:hover {
    color: var(--color-white);
}

.bg-color-black {
    background-color: var(--color-black);
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.py-6 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-7 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.pt-7 {
    padding-top: 7rem !important;
}

.pb-7 {
    padding-bottom: 7rem !important;
}

.z-index-1030 {
    z-index: 1030;
}

.dropdown-toggle::after {
    content: '\ea4a';
    font-family: "boxicons";
    font-size: 1.15rem;
    font-weight: normal;
    vertical-align: middle !important;
    border: none !important;
    line-height: 1;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.25rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--color-black);
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: #fff;
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: #e2e5f1;
    --bs-dropdown-divider-margin-y: 0.375rem;
    --bs-dropdown-box-shadow: 0 0.275rem 1.25rem rgba(11, 15, 25, 0.05), 0 0.25rem 0.5625rem rgba(11, 15, 25, 0.03);
    --bs-dropdown-link-color: var(--color-black);
    --bs-dropdown-link-hover-color: var(--color-blue);
    --bs-dropdown-link-hover-bg: #fff;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: var(--color-black);
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--color-black);
    --bs-nav-link-hover-color: var(--color-blue);
    --bs-nav-link-disabled-color: #6c757d;
}

.nav-pills {
    --bs-nav-pills-border-radius: 2.25rem;
    --bs-nav-pills-link-active-color: var(--color-black);
    --bs-nav-pills-link-active-bg: #D9D9D9;
}

.nav-pills .nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

/*//////////////////////////////////////////////////////////////////
[ MENU ]*/

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: var(--color-black);
    --bs-navbar-hover-color: var(--color-blue);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: var(--color-blue);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.25rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: none;
    --bs-navbar-toggler-border-color: transparent;
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-size: 1.75rem;
    --bs-nav-link-font-weight: var(--fw-medium);
}

.navbar-nav .dropdown-menu {
    border: 0;
    border-left: 1px solid #e2e5f1;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    background: none;
    box-shadow: none;
}

.navbar-nav .dropdown-menu.show {
    -webkit-animation: fade-in .3s ease-in-out;
    animation: fade-in .3s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropdown-show {
    from {
        transform: scale(.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-toggler>span {
    width: 26px;
    height: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--color-black);
}

.navbar-toggler>span:nth-child(2) {
    width: 33px;
}

.logo {
    display: inline-block;
    width: 182px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 100vw;
    --bs-offcanvas-height: 100vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.offcanvas-body {
    background: 50% 100% / contain no-repeat url("../img/bg-offcanvas.png");
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    padding: 6.25rem 0;
}

.footer-border {
    width: 100%;
    height: 2px;
    background: rgb(46,173,235);
    background: radial-gradient(circle, rgba(46,173,235,1) 0%, rgba(0,0,0,.95) 100%);
}

.footer .nav {
    --bs-nav-link-color: var(--color-white);
    --bs-nav-link-hover-color: var(--color-blue);
}

.btn-scroll-top {
    --si-btn-scroll-top-size: 3.25rem;
    --si-btn-scroll-top-border-radius: 50%;
    --si-btn-scroll-top-color: #fff;
    --si-btn-scroll-top-hover-color: #fff;
    --si-btn-scroll-top-bg: #212327;
    --si-btn-scroll-top-hover-bg: var(--color-blue);
    --si-btn-scroll-top-icon-size: 1.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1.25rem;
    bottom: -5rem;
    width: var(--si-btn-scroll-top-size);
    height: var(--si-btn-scroll-top-size);
    transition: bottom .4s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity .3s, background-color .25s ease-in-out;
    border-color: transparent;
    border-radius: var(--si-btn-scroll-top-border-radius);
    background-color: var(--si-btn-scroll-top-bg);
    color: var(--si-btn-scroll-top-color);
    font-size: var(--si-btn-scroll-top-icon-size);
    text-decoration: none;
    opacity: 0;
    z-index: 999;
}

@media (min-width: 1200px) {

    .btn-scroll-top:hover {
        color: var(--si-btn-scroll-top-hover-color);
        background-color: var(--si-btn-scroll-top-hover-bg);
    }
}

.btn-scroll-top.show {
    bottom: 6.5rem;
    opacity: 1;
}

/*------------------------------------------------------------------
[ Modal ]*/

.modal {
    --bs-modal-padding: 0 1.5rem 2.5rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1.5rem 1.5rem 0;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0.375rem;
}

.btn-close:focus {
    box-shadow: none;
}

/*------------------------------------------------------------------
[ Alert ]*/

.alert-black {
    --bs-alert-bg: #212327;
    --bs-alert-margin-bottom: 0;
    --bs-alert-color: #ecf0f1;
    --bs-alert-border-color: transparent;
    --bs-alert-border-radius: 0;
}

/*------------------------------------------------------------------
[ Card ]*/

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: normal;
}

/*//////////////////////////////////////////////////////////////////
[ MAIN CONTENT ]*/

.main {
    padding: 3rem 0 0;
}

.dark-mode {
    --bs-link-color: var(--color-white);
    --bs-link-hover-color: var(--color-blue);
}

.btn-hero {
    --si-btn-hero-size: 10rem;
    --si-btn-hero-font-size: 1.25rem;
    --bs-btn-font-weight: var(--fw-regular);
    --bs-btn-border-width: 10px;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-border-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--si-btn-hero-size);
    height: var(--si-btn-hero-size);
    padding: 0;
    font-size: var(--si-btn-hero-font-size);
    border-radius: 50%;
}

.bg-btn-hero {
    width: 100%;
    height: 100%;
    margin-top: -5rem;
    z-index: -1;
}

.frontpage-hero {
    padding-top: 5rem;
    padding-bottom: 0;
}

.frontpage-hero .heroSwiper {
    margin-top: 5rem;
}

.scroll-box {
    position: relative;
}

.scroll-box::-webkit-scrollbar {
    width: 1px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.25);
}

.scroll-box::-webkit-scrollbar-thumb {
    border-radius: 2px;
    outline: 2px solid var(--color-blue);
    background-clip: content-box;
    background-color: var(--color-blue);
}

.card.card-hover-dark {
    --bs-card-color: #fff;
    --bs-card-bg: rgba(131, 129, 137, 0.25);
    background-size: 100% 200%;
    background-image: linear-gradient(160deg, #838189 -100%, #14101D 100%);
    transition: background-position .3s ease-in-out;
}

.card.card-hover-dark:hover {
    background-position: 0 100%;
}

.card.card-hover-dark .h3>a {
    color: #fff;
    transition: color .3s ease-in-out;
}

.card.card-hover-dark:hover .h3>a {
    color: var(--color-blue);
}

.portfoliSwiper .swiper-slide {
    width: 500px;
}

.card.card-pricing {
    --bs-card-border-color: rgba(255, 255, 255, .1);
    --bs-card-bg: rgba(18, 14, 30, 0.2);
    --bs-card-cap-bg: transparent;
    backdrop-filter: blur(46px);
}

.card.card-pricing .text-muted {
    color: #F5F6F7 !important;
}

.card.card-pricing .card-footer {
    --bs-card-border-width: 0;
}

.cta {
    background-image: linear-gradient(140deg, #46A6F7 -150%, #6D6D6D -80%, #11101D 90%);
}

.accordion {
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--color-black);
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-icon: url(../img/faq-plus.svg);
    --bs-accordion-btn-icon-width: 1.5rem;
    --bs-accordion-btn-active-icon: url(../img/faq-plus.svg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--color-black);
    --bs-accordion-active-bg: transparent;
}

.accordion .accordion-button {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.accordion .accordion-button::after {
    margin-top: 0.25rem;
    margin-right: 1rem;
    margin-left: 0;
}

.accordion.accordion-faq {
    --bs-accordion-btn-active-icon: url(../img/faq-minus.svg);
}

.accordion.accordion-faq .accordion-button::after {
    margin-top: 1.5rem;
}

.modal-mainForm {
    --bs-modal-border-radius: 0;
    --bs-modal-color: #fff;
    --bs-modal-bg: #120E1E;
}

/*//////////////////////////////////////////////////////////////////
[ img-comparison-slider ]*/

img-comparison-slider {
    visibility: hidden;
}

img-comparison-slider [slot='second'] {
    display: none;
}

img-comparison-slider.rendered {
    visibility: inherit;
}

img-comparison-slider.rendered [slot='second'] {
    display: unset;
}

img-comparison-slider {
    --divider-width: 2px;
    --divider-color: var(--color-blue);
}

.img-comparison-slider--handle {
    width: 32px;
    height: 32px;
}

.card.card-case {
    --bs-card-spacer-x: 0;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: var(--color-black);
}

.testimonialSwiper {
    --swiper-theme-color: var(--color-blue);
    --swiper-pagination-bullet-inactive-color: var(--color-blue);
    --swiper-pagination-bullet-inactive-opacity: .7;
}

.testimonialSwiper .swiper-pagination {
    left: 0;
    transform: none;
    white-space: nowrap;
}

.card.card-shop-item {
    --bs-card-spacer-y: 0.5rem;
    --bs-card-border-color: rgba(255, 255, 255, .1);
    --bs-card-cap-bg: transparent;
    padding-bottom: 1rem;
}

.card.card-shop-item .card-footer {
    --bs-card-border-width: 0;
}

.card.card-shop-item .btn-secondary {
    --bs-btn-border-width: 2px;
    --bs-btn-color: var(--color-black);
    --bs-btn-bg: var(--color-white);
    --bs-btn-border-color: var(--color-black);
    --bs-btn-hover-color: var(--color-white);
    --bs-btn-hover-bg: var(--color-blue);
    --bs-btn-hover-border-color: var(--color-blue);
}


/*//////////////////////////////////////////////////////////////////
[ MEDIA ]*/

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .modal {
        --bs-modal-padding: 0 3.5rem 2.5rem;
    }
    .modal-md {
        --bs-modal-width: 600px;
    }
}

@media (min-width: 992px) {

    .offcanvas-body {
        background: none;
    }

    .navbar-nav {
        --bs-nav-link-font-size: 1rem;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        margin-top: var(--bs-dropdown-spacer);
        border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
        border-radius: var(--bs-dropdown-border-radius);
        background-color: var(--bs-dropdown-bg);
        box-shadow: var(--bs-dropdown-box-shadow);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        -webkit-animation: dropdown-show .3s;
        animation: dropdown-show .3s;
    }

    .btn-scroll-top.show {
        bottom: 5rem;
    }

    .scroll-box {
        max-height: 405px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .img-comparison-slider--handle {
        width: 64px;
        height: 64px;
    }

}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 2560px) {

    body {
        font-size: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    .btn {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    .nav-pills .nav-link {
        font-size: 2rem;
    }

    .logo {
        width: 250px;
    }

    .logo>img {
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 2rem;
        font-weight: var(--fw-semibold);
    }

    .navbar-nav .dropdown-item {
        font-size: 1.5rem;
        font-weight: var(--fw-semibold);
    }

    .social-list>li>a {
        padding: 0.5rem 0;
    }

    .form-control,
    .form-select {
        font-size: 1.8rem;
    }

    .accordion.accordion-faq .accordion-button::after {
        margin-top: 2rem;
    }
}